html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  outline: none;
}

input {
  outline: none;
}

img {
  max-width: 100%;
}

.button {
  cursor: pointer;
  outline: none;
  border: none;
}

.button-more {
  margin-left: 15px;
  transform: rotate(180deg);
  padding: 0;
  overflow: hidden;
  height: 31px;
  width: 31px;
  border-radius: 50%;
}

.button-more:hover {
  border: 2px solid black;
}

.play-button {
  padding: 0;
  overflow: hidden;
  height: 31px;
  width: 31px;
  border-radius: 50%;
  margin-right: 15px;
  margin-left: 33px;
}

.play-button:hover {
  border: 2px solid black;
}

.button-active {
  transform: rotate(90deg);
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: #000000;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.main {
  padding-bottom: 110px;
  color: #FFFFFF;
  background: url(../img/main/batman.png) no-repeat;
  background-size: cover;
}

.navbar {
  padding: 45px 0 20px 0;
  margin-bottom: 432px;
}

.navbar__blocks {
  display: flex;
  align-items: center;
}

.navbar__label {
  margin-right: 50px;
  font-weight: 900;
  font-size: 24px;
  color: #FFFFFF;
}

.navbar-search {
  display: flex;
  align-items: center;
}

.navbar-search .search {
  font-size: 13px;
  background: rgba(196, 196, 196, 0.5);
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 12px 0 12px 18px;
  text-overflow: ellipsis;
}

.navbar-search .search::placeholder {
  text-overflow: ellipsis;
  color: #aeaeae;
}

.navbar-search input:first-child {
  color: white;
  width: 800px;
}

.navbar-search input:last-child {
  margin-left: 19px;
  width: 20px;
  height: 20px;
}

.navbar-profile {
  margin-left: 56px;
  display: flex;
  align-items: center;
}

.navbar-profile input {
  max-width: 12px;
  max-height: 17px;
}

.navbar-profile .profile-avatar {
  margin-left: 20px;
  overflow: hidden;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: url(../img/main/avatar.jpg) center no-repeat;
  background-size: cover;
}

.header__blocks {
  display: flex;
  flex-direction: column;
}

.header__title {
  margin-bottom: 5px;
  font-weight: 500;
  font-family: "Playfair Display", serif;
  font-size: 48px;
}

.header__subtitle {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 20px;
  color: #787878;
}

.header__block {
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.header__block-wrap {
  font-size: 16px;
  display: flex;
  align-items: center;
}

.header-button {
  border-radius: 3px;
  margin-right: 20px;
  font-size: 16px;
  padding: 5px 10px 5px 10px;
}

.more .container {
  background: #ffffff;
}

.more {
  display: none;
  box-shadow: -2px -28px 46px 35px rgba(0, 0, 0, 0.75);
}

.more__blocks {
  padding: 44px 44px 44px 44px;
  display: flex;
}

.more__cover {
  flex-basis: 15%;
  display: flex;
  flex-direction: column;
}

.more__cover .button {
  margin-top: 20px;
  background: #ff8f27;
  padding: 10px 20px;
  color: #ffffff;
}

.more__roles {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
}

.more__roles h2 {
  font-weight: 900;
  margin-bottom: 15px;
}

.more__roles a {
  cursor: pointer;
  margin-bottom: 5px;
  text-decoration: underline;
}

.more-contain {
  flex-basis: 75%;
  flex-wrap: wrap;
  font-weight: 500;
  font-size: 18px;
  display: flex;
}

.more-pages {
  display: flex;
  margin-bottom: 40px;
}

.more-pages div {
  margin-left: 42px;
}

.more-bookmark {
  min-width: 12px;
  margin-left: 50px;
}

.more-info {
  display: flex;
}

.more-page {
  width: 505px;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  margin-left: 44px;
}

.more-page h2 {
  margin: 50px 0 25px 0;
  font-weight: 900;
}

.more-page p {
  width: 100%;
}

.more-addictional {
  text-align: center;
  margin-left: 50px;
}

.more-addictional h2 {
  margin-bottom: 20px;
  text-align: center;
  font-weight: 900;
}

.more-addictional .ad-block img {
  width: 100%;
  margin-top: 30px;
}

.more-form {
  display: flex;
}

.more-form input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px 0px 0px 5px;
  padding: 12px 80px 12px 10px;
}

.more-form button {
  width: 40px;
  height: 40px;
  border-radius: 0px 5px 5px 0px;
  background: #ff8f27;
  text-align: center;
  padding: 12px;
}

.more-form button img {
  max-width: 100%;
  width: 20px;
  height: 15px;
}

.white {
  color: #ff8f27;
}

.actor-card {
  display: flex;
  flex-basis: 32%;
  flex-direction: column;
  margin-bottom: 10px;
  justify-content: space-around;
}

.actor-card b {
  font-weight: 900;
}

.actors {
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
}

.page-selector {
  cursor: pointer;
}
/*# sourceMappingURL=index.css.map */