.header {
  &-wrap {
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
  }
  &__title {
    margin-bottom: 5px;
    font-weight: 500;
    font-family: "Playfair Display", serif;
    font-size: 48px;
  }
  &__subtitle {
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 20px;
    color: #787878;
  }
  &__block {
    justify-content: space-between;
    display: flex;
    align-items: center;
    &-wrap {
      font-size: 16px;
      display: flex;
      align-items: center;
    }
  }
  &-button {
    border-radius: 3px;
    margin-right: 20px;
    font-size: 16px;
    padding: 5px 10px 5px 10px;
  }
  &-buttons-wrap {
    display: flex;
    align-items: center;
  }
}
@media (max-width: 1024px) {
  .header {
    &__blocks {
      padding: 0 25px 50px 25px;
    }
  }
}
@media (max-width: 480px) {
  .header {
    &-button {
      margin: 0;
    }
    &__blocks {
      padding: 0 0 50px 0;
    }
    &__block {
      &-wrap {
        flex-direction: column;
        justify-content: space-between;
        &:last-child {
          display: none;
        }
      }
    }
    &-buttons-wrap {
      &:last-child {
        margin-top: 10px;
      }
      button {
        margin-right: 10px;
      }
    }
  }
  .play-button {
    margin: 0;
  }
}
