.more .container {
  border-radius: 5px;
  background: #ffffff;
}
.more {
  opacity: 0;
  transition: 0.7s;
  box-shadow: -2px -28px 46px 35px rgba(0, 0, 0, 0.75);
  &__blocks {
    height: 840px;
    padding: 44px 44px 44px 44px;
    display: flex;
  }
  &__cover {
    display: flex;
    flex-direction: column;
    .button {
      margin-top: 20px;
      background: #ff8f27;
      padding: 10px 20px;
      color: #ffffff;
    }
  }
  &__roles {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    h2 {
      font-weight: 900;
      margin-bottom: 15px;
    }
    a {
      cursor: pointer;
      margin-bottom: 5px;
      text-decoration: underline;
    }
  }
  &-contain {
    font-weight: 500;
    font-size: 18px;
  }
  &-pages {
    margin: 0 0 40px 44px;
    display: flex;
    justify-content: space-between;
  }
  &-bookmark {
    min-width: 12px;
  }
  &-info {
    display: flex;
    padding-left: 44px;
  }
  // FIXME: width надо переписать под адаптив
  &-page {
    width: 505px;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    h2 {
      margin: 50px 0 25px 0;
      font-weight: 900;
    }
    p {
      width: 100%;
    }
  }
  &-addictional {
    text-align: center;
    margin-left: 50px;
    h2 {
      margin-bottom: 20px;
      text-align: center;
      font-weight: 900;
    }
    & .ad-block {
      img {
        width: 100%;
        margin-top: 30px;
      }
    }
  }
  &-form {
    display: flex;
    input {
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 5px 0px 0px 5px;
      padding: 12px 80px 12px 10px;
    }
    button {
      width: 40px;
      height: 40px;
      border-radius: 0px 5px 5px 0px;
      background: #ff8f27;
      text-align: center;
      padding: 12px;
      img {
        max-width: 100%;
        width: 20px;
        height: 15px;
      }
    }
  }
}
.more-active {
  opacity: 1;
}
@media (max-width: 1024px) {
  .more {
    .container {
      border-radius: 0;
    }
    &__blocks {
      height: 800px;
      padding: 25px;
    }
    &__cover {
      flex-basis: auto;
    }
    &-form {
      input {
        padding: 12px 40px 12px 10px;
      }
    }
    &-addictional {
      margin-left: 20px;
    }
  }
}
