.navbar {
  padding-top: 45px;
  &-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__label {
    cursor: pointer;
    text-decoration: none;
    margin-right: 50px;
    font-weight: 900;
    font-size: 24px;
    color: $text-color-light;
  }
  &-search {
    display: flex;
    align-items: center;
    .search {
      font-size: 13px;
      background: rgba(196, 196, 196, 0.5);
      outline: none;
      border: none;
      border-radius: 5px;
      padding: 12px 0 12px 18px;
      text-overflow: ellipsis;
      &::placeholder {
        text-overflow: ellipsis;
        color: #aeaeae;
      }
    }
    // FIXME: убрать в адаптиве width
    input:first-child {
      color: white;
      width: 800px;
    }
    input:last-child {
      margin-left: 19px;
      width: auto;
      height: auto;
    }
  }
  &-profile {
    margin-left: 56px;
    display: flex;
    align-items: center;
    input {
      max-width: 12px;
      max-height: 17px;
    }
    .profile-avatar {
      margin-left: 20px;
      overflow: hidden;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      background: url(../img/main/avatar.jpg) center no-repeat;
      background-size: cover;
    }
  }
}
@media (max-width: 1024px) {
  .navbar {
    &-search {
      input:first-child {
        width: 600px;
      }
    }
  }
}
@media (max-width: 768px) {
  .navbar {
    &-search {
      input:first-child {
        width: 400px;
      }
    }
  }
}
@media (max-width: 480px) {
  .container {
    padding: 0 25px 0 25px;
  }
  .navbar {
    padding-top: 20px;
    &__blocks {
      justify-content: space-between;
      flex-wrap: wrap;
    }
    &-label {
      order: 1;
    }
    &-search {
      margin-top: 20px;
      order: 3;
      input:first-child {
        width: 320px;
      }
      input:last-child {
        margin-left: 8px;
      }
    }
    &-profile {
      margin: 0;
      order: 2;
    }
  }
}
@media (max-width: 375px) {
  .navbar {
    &__blocks {
      justify-content: space-around;
    }
    &-search {
      input:first-child {
        width: 210px;
      }
    }
  }
}
