@import "_reset.scss";
@import "_variables.scss";
@import "_buttons.scss";
* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background: #000000;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
.main {
  padding-bottom: 110px;
  color: $text-color-light;
  background: url(../img/main/batman.png) no-repeat;
  background-size: cover;
}
@import "_navbar.scss";
@import "_header.scss";
@import "_more.scss";
